@model WebStore.Domain.ViewModels.EmployeeView
@{
    ViewData["Title"] = "Сведения о сотруднике id:" + Model.Id;
}

<h3>@ViewData["Title"]</h3>

<table class="table">
    <tr>
        <th>@Html.LabelFor(m => m.SecondName)</th>
        <td>@Model.SecondName</td>
    </tr>

    <tr>
        <th>@Html.LabelFor(m => m.FirstName)</th>
        <td>@Model.FirstName</td>
    </tr>

    <tr>
        <th>@Html.LabelFor(m => m.Patronymic)</th>
        <td>@Model.Patronymic</td>
    </tr>

    <tr>
        <th>@Html.LabelFor(m => m.Age)</th>
        <td>@Model.Age</td>
    </tr>

</table>

